.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  width: 192px;
  height: 192px;
  position: absolute;
  left: 624px;
  top: 0px;
  object-fit: cover;
}
.rectangle-2 {
  opacity: 0.800000011920929;
  width: 1440px;
  height: 832px;
  position: absolute;
  left: 0px;
  top: 192px;
  overflow: visible;
  object-fit: cover;
}
.rectangle-3 {
  background: #fbfbfb;
  border-radius: 20px;
  opacity: 0.30000001192092896;
  width: 463px;
  height: 716px;
  position: absolute;
  left: 518px;
  top: 250px;
}
.line-1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 560px;
  top: 702px;
}
.line-2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 796px;
  top: 702px;
}
.or {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 733px;
  top: 692px;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 35px;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 555px;
  top: 539px;
}
.reset-password {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 655px;
  top: 559px;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.20000000298023224;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 555px;
  top: 392px;
}
.rectangle-7 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.20000000298023224;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 555px;
  top: 740px;
}
.log-in-with-google {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 681px;
  top: 760px;
}
.image-4 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 590px;
  top: 747px;
  object-fit: cover;
}
.rectangle-8 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.20000000298023224;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 555px;
  top: 833px;
}
.log-in-with-microsoft {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 672px;
  top: 853px;
}
.image-5 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 590px;
  top: 840px;
  object-fit: cover;
}
.image-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 895px;
  top: 409px;
  object-fit: cover;
}
.email-id {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 582px;
  top: 417px;
}
.cancel {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 875px;
  top: 473px;
}
.reset-your-password {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 560px;
  top: 280px;
}
