.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 1139px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  width: 192px;
  height: 192px;
  position: absolute;
  left: 623px;
  top: 0px;
  object-fit: cover;
}
.rectangle-2 {
  opacity: 0.800000011920929;
  width: 1440px;
  height: 947px;
  position: absolute;
  left: 0px;
  top: 192px;
  overflow: visible;
  object-fit: cover;
}
.or {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 707px;
  top: 777px;
}
.rectangle-3 {
  background: #fbfbfb;
  border-radius: 20px;
  opacity: 0.30000001192092896;
  width: 463px;
  height: 716px;
  position: absolute;
  left: 488px;
  top: 290px;
}
.remember-me {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 564px;
  top: 569px;
}
.forgot-password {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 769px;
  top: 570px;
}
.log-in-with-google {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 666px;
  top: 848px;
}
.log-in-with-microsoft {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 651px;
  top: 933px;
}
.don-t-have-an-account-register {
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 586px;
  top: 729px;
}
.don-t-have-an-account-register-span {
  color: #000000;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
}
.don-t-have-an-account-register-span2 {
  color: #ffffff;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
}
.login-to-sky-vr {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 578px;
  top: 314px;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.20000000298023224;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 525px;
  top: 397px;
}
.rectangle-5 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.30000001192092896;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 525px;
  top: 482px;
}
.rectangle-7 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.30000001192092896;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 525px;
  top: 828px;
}
.rectangle-8 {
  background: #d9d9d9;
  border-radius: 35px;
  opacity: 0.30000001192092896;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 525px;
  top: 913px;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 35px;
  width: 389px;
  height: 69px;
  position: absolute;
  left: 525px;
  top: 641px;
}
.login {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 687px;
  top: 661px;
}
.email-id {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 547px;
  top: 422px;
}
.password {
  color: #000000;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: true;
  position: absolute;
  left: 540px;
  top: 507px;
}
.image-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 862px;
  top: 414px;
  object-fit: cover;
}
.image-2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 862px;
  top: 499px;
  object-fit: cover;
}
.image-3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 535px;
  top: 567px;
  object-fit: cover;
}
.line-1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 134px;
  height: 0px;
  position: absolute;
  left: 553px;
  top: 787px;
}
.line-2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 145px;
  height: 0px;
  position: absolute;
  left: 752px;
  top: 787px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.image-4 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 583px;
  top: 835px;
  object-fit: cover;
}
.image-5 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 583px;
  top: 927px;
  object-fit: cover;
}
